/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

.wp-block-mightyblocks-block-notice {
  background: $green;
  border: 0.2rem solid $black;
  color: $black;
}
