/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */


.wp-block-mightyblocks-block-testimonial .wp-block-mightyblocks-testimonial-text p {
    font-size: inherit;
}

.gutenberg__editor .wp-block-mightyblocks-block-testimonial img {
    max-width: 100px;
    height: auto;
}
