/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

.wp-block-mightyblocks-block-testimonial  {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: flex-start;
    padding: 20px;
    border-style: solid;
}

.wp-block-mightyblocks-block-testimonial .wp-block-mightyblocks-testimonial-text p:last-child {
    margin-bottom: 0;
}

.wp-block-mightyblocks-block-testimonial img {
    margin-bottom: 0;
    border-radius: 50%;
    max-width: 100px;
    height: auto;
    margin-right: 15px;
    vertical-align: initial;
}

.wp-block-mightyblocks-block-testimonial.wp-block-mightyblocks-block-testimonial-compact {
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.wp-block-mightyblocks-block-testimonial.wp-block-mightyblocks-block-testimonial-compact img {
    margin-right: 0;
}
