/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

 .wp-block-mightyblocks-block-contentbox {
    overflow: hidden;
    
    &-heading-center &-heading-container  {
        text-align: center;
    }

    &-heading-left &-heading-container {
        text-align: left;
    }

    &-heading-right &-heading-container {
        text-align: right;
    }

    &-icon-center &-icon-container {
        text-align: center;
    }

    &-icon-left &-icon-container {
        text-align: left;
    }

    &-icon-right &-icon-container {
        text-align: right;
    }

    &-content-center &-content-container {
        text-align: center;
    }

    &-content-left &-content-container {
        text-align: left;
    }

    &-content-right &-content-container {
        text-align: right;
    }
    
    &-button-center &-button {
        text-align: center;
    }

    &-button-left &-button {
        text-align: left;
    }

    &-button-right &-button {
        text-align: right;
    }

    &-icon {
        display: inline-block;
        border-style: solid;
        
        i {
            width: 1em;
            height: 1em;
            display: block;
            position: relative;
        }
    
        i:before {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    &-button {
        overflow: hidden;
    }

    &-button a {
        display: inline-block;
        text-decoration: none;
    }
    
    &-button-size-xs {
        font-size: 13px;
        padding: 10px 20px;
    }
    
    &-button-size-s {
        font-size: 15px;
        padding: 12px 24px;
    }
    
    &-button-size-m {
        font-size: 16px;
        padding: 15px 30px;
    }
    
    &-button-size-l {
        font-size: 18px;
        padding: 20px 40px;
    }
    
    &-button-size-xl {
        font-size: 20px;
        padding: 25px 50px;
    }
    
    &-button-fullwidth {
        width: 100%;
        text-align: center;
    }
 }