/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

 .wp-block-mightyblocks-block-contentbox {
    &-heading-center &-heading-container  {
        text-align: center;
    }

    &-heading-left &-heading-container {
        text-align: left;
    }

    &-heading-right &-heading-container {
        text-align: right;
    }

    &-icon-center &-icon-container {
        text-align: center;
    }

    &-icon-left &-icon-container {
        text-align: left;
    }

    &-icon-right &-icon-container {
        text-align: right;
    }

    &-content-center &-content-container {
        text-align: center;
    }

    &-content-left &-content-container {
        text-align: left;
    }

    &-content-right &-content-container {
        text-align: right;
    }

    &-icon {
        display: inline-block;
        border-style: solid;
        
        i {
            width: 1em;
            height: 1em;
            display: block;
            position: relative;
        }
    
        i:before {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }
    }
 }