/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

.wp-block-mightyblocks-block-video {
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

.wp-block-mightyblocks-block-video iframe,
.wp-block-mightyblocks-block-video object,
.wp-block-mightyblocks-block-video video {
    max-width: 100%;
    width: 100%;
    margin: 0;
    line-height: 1;
    border: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
}